#container {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -300px;
    margin-left: -600px;
    font-family: 'Roboto';

}


h1 {
	text-align:center;
	font-family: 'Bungee Inline', cursive;
}

body {
	background-image: url("team-photos/flat-background.jpg");
/*    background-size: 100% 100%;*/
    background-repeat:no-repeat;

}

.score-team {
	width:150px;
	height:100px;
	padding:25px;
}

.away-team {
	background-color: white;
	width:150px;
	height:50px;
	border:solid 0.5px #F2F2F2;
	border-radius:15px;
}

.home-team {
	background-color: white;
	width:150px;
	height:50px;
	border:solid 0.5px #F2F2F2;
	border-radius:15px;
	margin-top:10px;
}

.away-team img {
	display:inline-block;
}

.home-team img {
	display:inline-block;
}


.away-team p {
	display:inline;
	position:relative;
	bottom:40%;
	left:20px;
}

.home-team p {
	display:inline;
	position:relative;
	bottom:40%;
	left:20px;
	padding-top:5px;
}

.round {
	display:inline-block;
}

.second-round {
	position:relative;
	bottom:180px;
}

.semi-final {
	position:relative;
	bottom:250px;
}

.away-team img{
	margin-top:8px;
	margin-left:4px;
}

.home-team img{
	margin-top:8px;
	margin-left:4px;
}

#utah {
	bottom:10%;
}

#utah-score {
	bottom:10%;
}

@keyframes hometeamWinning{
	0%{
		transform:translateY(0px);
	}

	50%{
		transform:translateY(30px);
	}

	100%{
		transform:translateY(-10px);
	}
}

@keyframes awayteamWinning {
	0%{
		transform:translateY(0px);
	}

	50%{
		transform:translateY(-30px);
	}

	100%{
		transform:translateY(10px);
	}
}

@keyframes hometeamLosing{
	0%{
		transform:translateY(0px);
		opacity: 1;
	}

	100%{
		transform:translateY(17px);
		opacity: 0.1;
	}
}

@keyframes awayteamLosing {
	0%{
		transform:translateY(0px);
		opacity: 1;
	}

	100%{
		transform:translateY(-17px);
		opacity: 0.1;
	}
}

.home-team.winning {
	animation: hometeamWinning 1s;
	animation-fill-mode: forwards;
}

.away-team.winning {
	animation: awayteamWinning 1s;	
	animation-fill-mode: forwards;
}

.home-team.losing {
	animation: hometeamLosing 0.75s;
	animation-fill-mode: forwards;
	animation-delay: 0.85s;
}

.away-team.losing {
	animation: awayteamLosing 0.75s;	
	animation-fill-mode: forwards;
	animation-delay: 0.85s;
}