#container {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -300px;
    margin-left: -710px;
    font-family: 'Roboto';

}

.final img {
	transform:translateY(-150px);
}

h1 {
	text-align:center;
	font-family: 'Bungee Inline', cursive;
}

body {
	background-image: url("team-photos/flat-background.jpg");
/*    background-size: 100% 100%;*/
    background-repeat:repeat;
    background-size: cover;

}

.score-team {
	width:150px;
	height:100px;
	padding:25px;
}

.away-team {
	background-color: white;
	width:150px;
	height:50px;
	border:solid 0.5px #F2F2F2;
	border-radius:15px;
}

.home-team {
	background-color: white;
	width:150px;
	height:50px;
	border:solid 0.5px #F2F2F2;
	border-radius:15px;
	margin-top:10px;
}

.away-team img {
	display:inline-block;
}

.home-team img {
	display:inline-block;
}


.away-team p {
	display:inline;
	position:relative;
	bottom:40%;
	left:20px;
}

.home-team p {
	display:inline;
	position:relative;
	bottom:40%;
	left:20px;
	padding-top:5px;
}

.round {
	display:inline-block;
}

.second-round {
	position:relative;
	bottom:180px;
}

.semi-final {
	position:relative;
	bottom:250px;
}

.away-team img{
	margin-top:8px;
	margin-left:4px;
}

.home-team img{
	margin-top:8px;
	margin-left:4px;
}

#utah {
	bottom:10%;
}

#utah-score {
	bottom:10%;
}

@keyframes hometeamWinning{
	0%{
		transform:translateY(0px);
	}

	50%{
		transform:translateY(30px);
	}

	100%{
		transform:translateY(-10px);
	}
}

@keyframes awayteamWinning {
	0%{
		transform:translateY(0px);
	}

	50%{
		transform:translateY(-30px);
	}

	100%{
		transform:translateY(10px);
	}
}

@keyframes hometeamLosing{
	0%{
		transform:translateY(0px);
		opacity: 1;
	}

	100%{
		transform:translateY(17px);
		opacity: 0.1;
	}
}

@keyframes awayteamLosing {
	0%{
		transform:translateY(0px);
		opacity: 1;
	}

	100%{
		transform:translateY(-17px);
		opacity: 0.1;
	}
}

.home-team.winning {
	animation: hometeamWinning 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.away-team.winning {
	animation: awayteamWinning 1s;	
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.home-team.losing {
	animation: hometeamLosing 0.75s;
	animation-fill-mode: forwards;
	animation-delay: 1.35s;
}

.away-team.losing {
	animation: awayteamLosing 0.75s;	
	animation-fill-mode: forwards;
	animation-delay: 1.35s;
}

#matches {
	margin-top:5%;
	margin-bottom:10%;
}

#matches > div {
	position:relative;
	left:50%;
	margin-left:-160px;
}


#matches .away-team {
	display:inline-block;
	margin:5px;
}

#matches .home-team {
	display:inline-block;
	margin:5px;
}

.away-team.match-win{
	animation:awayMWinner 1s; 
	animation-delay:2s;
	animation-fill-mode: forwards;
}

.home-team.match-win{
	animation:homeMWinner 1s;
	animation-delay:2s;
	animation-fill-mode: forwards;
}
.away-team.match-lose{
	animation:awayMLoser 1s;
	animation-delay:2.7s;
	animation-fill-mode: forwards;
}

.home-team.match-lose{
	animation:homeMLoser 1s;
	animation-delay:2.7s;
	animation-fill-mode: forwards;

}


#matches h2 {
	text-align:center;
}

#matches h3 {
	text-align:center;
}

@keyframes awayMWinner {
	0%{
		transform: translateX(0px);
	}

	50%{
		transform: translateX(-30px);

	}

	100%{
		transform: translateX(20px) scale(1.2,1.2);
	}
}

@keyframes homeMLoser {
	0%{
		opacity:1;
		transform:translateX(0px);
	}

	100%{
		opacity:0.5;
		transform:translateX(40px);
	}
}

@keyframes awayMLoser {
	0%{
		opacity:1;
		transform:translateX(0px);
	}

	100%{
		opacity:0.5;
		transform:translateX(-40px);
	}
}

@keyframes homeMWinner{
	0%{
		transform:translateX(0px);
	}

	50%{
		transform: translateX(30px);
	}

	100%{
		transform: translateX(-20px) scale(1.2,1.2);
	}
}