h1 {
	text-align:center;
	font-family: 'Bungee Inline', cursive;
}

@keyframes jump {
	0% {
		transform:translateY(0px);
	}

	50% {
		transform:translateY(-35px);
	}

	100% {
		transform:translateY(0px);
	}

}

/*embed:hover {
	animation: jump 1s infinite;
}*/

.player-image:hover {
	animation: jump 1s infinite;
}

@keyframes metricsBar {
	0% {
		height:25px;
		width:0px;
	}

	100% {
		height:25px;
		width:150px;
	}
}

@keyframes curryThree {
	0% {
		height:25px;
		width:0px;
	}

	100% {
		height:25px;
		width:94.5px;
	}
}

@keyframes lebronAst{
	0% {
		height:25px;
		width:0px;
	}

	100% {
		height:25px;
		width:75px;
	}
}

.player embed {
	margin-left:70px;
	margin-top:-45px;
}

.player h2 {
	text-align:center;
	/*margin-left:45px;*/
} 


#players {
	max-width: 100%
}

body{
	background-image: url("team-photos/first-page-back.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#players .player {
	display:inline-block;
	min-width: 350px;
	text-align: left
	margin:30px;
}

.stat {
	text-align:left;
	display:block;
}

#container {
	font-family: 'Roboto';
	position:relative;
	margin-top:100px;
	left:50%;
	margin-left:-520px;
	clear:both;
}

.stat p {
	float:left;
	display:inline;
	margin:0;
	margin-right:20px;

}

.stat > div > div{
	float:left;
	position:relative;
	right:0px;
	display:inline-block;
	background-color:#E35C1E;
	border-radius:20px;

}

.stat > div {
	border:0.5px solid #E35C1E;
	display:inline-block;
	height:25px;
	width:150px;
	border-radius:20px;
}

.stat:hover {
	transition: transform 0.5s;
	transform: scale(1.1,1.1);
}

.stat div div p {
	margin-left: 100px;
	margin-top:5px;
}

.score {
	margin-left:30%;
	color:white;
}


#curry-pts {
	animation:metricsBar 2s forwards;
}

#curry-three {
	animation:curryThree 2s forwards;
}

#russel-pts {
	animation:metricsBar 2s forwards;
}

#russel-ast {
	animation:metricsBar 2s forwards;
}

#lebron-pts {
	animation:metricsBar 2s forwards;
}

#lebron-ast {
	animation:lebronAst 2s forwards;
}

@keyframes mouth {
    100%{
        transform:rotateX(180deg);
    }
}

@keyframes visible {
	0%{
		opacity: 0;
	}

	100%{
		opacity:1;
	}
}

@keyframes notvisible {
	0%{
		opacity: 1;
	}

	100%{
		opacity:0;
	}
}

.weather {
	margin-left:70px;
	display:block;
	opacity:0;
	margin-top:-50px;
}

.player > div{
	position:relative;
	height:200px;
	width:200px;
}

.player > div img {
	position:absolute;
}